#console-output-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 100;
    background-color: #2d2c2c;
    overflow-y: auto;
    color: #dbdbdb;
}

.console-output{
    width: calc(100% - 10px);
    padding: 5px;
    border-bottom: 1px solid #3b3a3a;
}

.console-output:hover{
    background-color: #525153;
}

#console-input-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#console-input{
    margin-left: 0.5rem;
    flex-grow: 100;
}

.cmsg-player-other {
    color: #52b44c;
}

.cmsg-player-self {
    color: #ffa565;
    font-weight: bold;
}

.cmsg-item {
    color: #fc5252;
}

.cmsg-location {
    color: #5ea2c1;
}
